.homeSection{
    display: flex;
    flex-direction: column;
    background-repeat: none;    
    background-image: url("https://img.freepik.com/free-photo/arrangement-black-friday-shopping-carts-with-copy-space_23-2148667047.jpg?size=626&ext=jpg&ga=GA1.1.1395880969.1710115200&semt=ais");
    background-size: cover;
    min-height:100vh
}
h1{
    color:rgb(236, 232, 232);
    font-family: 'cursive';
    text-align: center;
    font-size: 70px;
}

button{
    
    font-family: sans-serif;
    font-size: 30px;
    border:none;
    border-radius: 5px;
    align-self:center;
    background-color: rgb(158, 152, 152);
    padding: 20px;
    color: white;
   

}

